<%- include('../partials/header.ejs')%>
    <div class = "container">
        <div class="jumbotron">
            <h1>Profile, Welcome</h1>
            <h2>Welcome, <%= user.firstName + " " + user.lastName%> </h2>

            <% if(connections.length){ %>
                <p>You have created the following connections:</p>
                <div class="sports">
                    <ul>
                    <% connections.forEach(connection=>{ %>
                        <li><a href='/connections/<%=connection.id %>' ><%= connection.title %></a></li>
                    <%}); %>
                    </ul>
                </div>
            <% } else { %>
                <p>You have not created any connections</p>
            <%} %>

            <% if(rsvps.length){ %>
                <p>You have RSVP'd to the following connections:</p>
                <div class="sports">
                    <ul>
                    <% rsvps.forEach(rsvp=>{ %>
                        <li><a href='/connections/<%=rsvp.connection._id%>' ><%= rsvp.connection.title %> | <%= rsvp.rsvp%></a></li>
                     
                    <%}); %>
                    </ul>
                </div>
            <% } else { %>
                <p>You have not created any connections</p>
            <%} %>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>