<%- include('../partials/header.ejs') %>
    <div>
        <div class="container">
            <div class="jumbotron">
                <div class="topcon">
                    <h2><%= connection.title %></h2>
                    <% if (user == connection.author._id){ %>
                        <form>
                            <button type="submit" formmethod="POST" formaction="/connections/<%= connection.id %>?_method=DELETE" class="btn btn-success">Delete</button>
                            <button type="submit" formmethod="GET" formaction="/connections/<%= connection.id %>/edit" class="btn btn-success">Update</button>
                        </form>
                    <% } else if (user) { %>
                        <form>  
                            <h4 class='rsvpHeader'>Are you going to Attend? RSVP now!</h4>
                            <button type="submit" formmethod="POST" formaction="/connections/<%= connection.id %>/rsvp" name="rsvp" value="MAYBE" class="btn btn-success">Maybe</button>
                            <button type="submit" formmethod="POST" formaction="/connections/<%= connection.id %>/rsvp" name="rsvp" value="NO" class="btn btn-success">No</button>
                            <button type="submit" formmethod="POST" formaction="/connections/<%= connection.id %>/rsvp" name="rsvp" value="YES" class="btn btn-success">Yes</button>

                        </form>
                    <% } %>
                        

                    
                    
                </div>
                <div>
                    <table class="table">
                        <tr class="table-success">
                            <!-- <td rowspan="5"><img src="<%= connection.imageURL %>" alt="<%= connection.imageURL %>"></td> -->
                            <td rowspan="5">
                                <img src="<%= connection.imageURL %>" alt="<%= connection.imageURL %>" class="connImg">
                            </td>
                            <td><p>Hosted by <%= connection.author.firstName + ' ' + connection.author.lastName%></p></td>
                        </tr>
                        <tr>
                            <td><p><%= connection.location %></p></td>
                        </tr>
                        <tr>
                            <td><p><%= connection.date %></p></td>
                        </tr>
                        <tr>
                            <td><p><%= connection.startTime %> - <%= connection.endTime %></p></td>
                        </tr>
                    
                    </table>
                </div>
                <div class="details">
                    <h3>Details</h3>
                    <p><%= connection.details %></p>

                </div>
            </div>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>